@import '../../../theme/colors';
@import '../../../theme/mixins';

.input {
  &Wrapper {
    width: 100%;
    max-width: 25vw;
    border-bottom: 1px solid $light-black;
    margin: 40px 0;
    transition: all 0.35s;

    &:focus-within {
      border-color: $primary;
    }
  }

  &Label {
    display: block;
    padding: 0;
    margin: 0;
    @include fontStyle($gray, 11px, 300, 1.15, 0.06em);
    text-transform: uppercase;
  }

  &Item {
    width: 100%;
    border: 0;
    margin: 8px 0;
    background: none;
    @include fontStyle($black, 16px, 500, 1.5, 0.06em);
    outline: 0;

    &::placeholder {
      @include fontStyle($light-gray, 14px, 300, 1.5, 0.06em);
    }
  }
}
