.movieWrapper {
  display: flex;
  align-items: center;

  &Item {
    width: 50%;

    &:first-child {
      padding: 0 40px 0 20px;
    }

    &:last-child {
      padding: 0 20px 0 40px;
    }
  }
}

.buttonsCTA {
  margin-bottom: 26px;
}

.cast {
  margin-top: 60px;
}

.productionButton {
  margin: 60px auto 0;
}

.videoGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.videoItem {
  width: 50%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}
