@import '../../theme/mixins';
@import '../../theme/colors';

.title {
  margin: 30px 0 10px;
  @include fontStyle($white, 24px, 400, 1.5, 0.08em);
  text-transform: capitalize;

  @media (min-width: 600px) {
    font-size: 28px;
  }

  @media (min-width: 768px) {
    margin: 40px 0 0;
    font-size: 32px;
  }

  &___center {
    @media (min-width: 960px) {
      text-align: center;
    }
  }

  &___small {
    margin: 0 0 10px;
    font-size: 30px;
  }

  &___noMargin {
    margin: 0;
  }

  &___hidden {
    @include sreenReaderOnly;
  }
}
