@import '../../theme/mixins';
@import '../../theme/colors';

.title {
  margin: 40px 0 0;
  @include fontStyle($white, 22px, 400, 1.5, 0.08em);
  text-transform: capitalize;

  @media (min-width: 600px) {
    font-size: 28px;
  }

  @media (min-width: 768px) {
    font-size: 32px;
  }

  &___center {
    text-align: center;
  }

  &___small {
    margin: 0 0 10px;
    font-size: 30px;
  }

  &___hidden {
    @include sreenReaderOnly;
  }
}
