@import '../../../theme/colors';
@import '../../../theme/mixins';

.genres {
  display: flex;
  flex-wrap: wrap;
  @include listReset;
  color: $white;

  &___light {
    color: $black;
  }

  &_item {
    display: block;
    padding: 0;
    margin: 0 0 5px;
    @include fontStyle(inherit, 12px, 300, 1.4, 0.05em);
    text-transform: capitalize;

    &:not(:last-of-type) {
      &::after {
        content: '|';
        margin-right: 10px;
        margin-left: 10px;
        opacity: 0.3;
      }
    }
  }
}
