@import '../../../theme/colors';
@import '../../../theme/mixins';

.genres {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  color: $white;
  list-style: none;

  &Light {
    @extend .genres;
    color: $black;
  }

  &Item {
    display: block;
    padding: 0;
    margin: 0 0 5px;
    @include fontStyle(inherit, 12px, 300, 1.4, 0.05em);
    text-transform: capitalize;

    &:not(:last-of-type) {
      &::after {
        content: '|';
        margin-right: 10px;
        margin-left: 10px;
        opacity: 0.3;
      }
    }
  }
}
