@import '../../theme/colors';
@import '../../theme/mixins';

.input {
  display: block;
  width: 100%;
  padding: 5px 0 10px;
  border: none;
  border-bottom: 1px solid $dark-white;
  margin: 0;
  background: none;
  @include fontStyle($white, 18px, 300, 1.5, 0.02em);
  transition: all 0.25s ease-in-out;
  resize: none;

  &:focus {
    outline: 0;
    border-bottom: 1px solid $primary;
  }

  &::placeholder {
    @include fontStyle($light-gray, 18px, 300, 1.5, 0.02em);
  }

  &[type='button'] {
    background: none;
    text-align: left;
    cursor: pointer;
  }

  &:disabled {
    background: none;
  }

  &Light {
    color: $black;
    font-weight: 400;
  }
}
