@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,600&display=swap');
@import './theme/normalize.scss';
@import './theme/colors';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  width: 100%;
  background: $black;
}

body {
  background: $black;
  font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 3px;

  @media (min-width: 768px) {
    width: 9px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark-gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $focus;
}
