@import '../../theme/mixins';

.productionList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @include listReset;

  &___small {
    @media (min-width: 680px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (min-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &___basic {
    @media (min-width: 680px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }

  &___main {
    @media (min-width: 960px) {
      display: flex;
      align-items: baseline;

      > li {
        min-height: 500px;
        align-self: baseline;
        align-content: flex-start;

        &:first-child {
          width: 100%;
          min-height: 300px;
        }

        &:not(:first-child) {
          width: calc(50% - 20px);

          &:nth-child(even) {
            margin-right: 10px;
          }

          &:nth-child(odd) {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
