@import '../../../theme/colors';
@import '../../../theme/mixins';

.close {
  @include absolute(10px, 10px, auto, auto);
  @include square(30px);
  border: 0;
  background: none;
  transition: background 0.35s ease-in-out;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:hover {
    &::after,
    &::before {
      background: $light-gray;
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: $primary;
    transition: all 0.35s;
  }

  &::before {
    transform: translateY(1px) rotate(45deg);
  }

  &::after {
    transform: translateY(-1px) rotate(-45deg);
  }
}
