@import '../../../theme/colors';

.avatar {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: $light-black;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}
