@import '../../../theme/mixins';
@import '../../../theme/colors';

.paginationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  @include circle(50px);
  margin: 0 5px 10px;
  text-align: center;
  @include fontStyle($gray, 14px, 300, 1.5, 0.08em);

  @media (min-width: 860px) {
    margin-bottom: 0;
    font-size: 16px;
  }

  &_nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    @include circle(100%);
    background: $light-black;
  }

  &_button {
    display: block;
    @include circle(100%);
    border: none;
    border-radius: 50%;
    background: $light-black;
    color: inherit;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      background: $black;
    }

    &___active {
      background: $primary;
      color: $white;

      &:hover {
        background: $primary;
        color: $white;
      }
    }
  }
}
