@import '../../../theme/colors';
@import '../../../theme/mixins';

.creators {
  @include listReset;
  margin: 20px 0 50px;

  &_item {
    display: inline-block;
    padding: 0;
    margin: 0;
    @include fontStyle($light-gray, 14px, 300, 1.5, 0.04em);

    &:not(:last-of-type) {
      &::after {
        content: '|';
        display: inline-block;
        margin: 0 10px;
        color: $gray;
      }
    }
  }
}
