@import '../../../theme/colors';
@import '../../../theme/mixins';

.rate {
  display: flex;
  align-items: center;
  margin-right: 10px;

  &_item {
    display: inline-block;
    padding: 6px 6px;
    @include fontStyle($primary, 15px, 300, 1, 0.05em);
    text-align: center;
  }

  &_icon {
    display: block;
  }
}
