@import '../../theme/colors';
@import '../../theme/mixins';

.button {
  @include flex(center, center);
  width: 100%;
  padding: 12px 24px;
  border: 1px solid $white;
  margin: 10px 0 0;
  background: none;
  @include fontStyle($white, 14px, 300, 1, 0.2em);
  text-decoration: none;
  transition: background 0.35s ease-in-out, color 0.35s ease-in-out;
  cursor: pointer;

  @media (min-width: 600px) {
    width: auto;
  }

  &:hover {
    background: $white;
    color: $black;
  }

  &:focus {
    outline: 1px solid $primary;
  }

  &[disabled] {
    opacity: 0.2;
  }

  &___light {
    border-color: $black;
    color: $black;

    &:hover {
      background: $black;
      color: $white;
    }

    &.button___add {
      background: none;

      &:hover {
        background: $black;
      }
    }
  }

  &___add {
    position: relative;
    display: block;
    @include circle(35px);
    padding: 0;
    background: $white;

    &:hover {
      background: none;

      &::after,
      &::before {
        background: $white;
      }
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      background: $black;
      transition: all 0.35s ease-in-out;
    }

    &::after {
      width: 14px;
      height: 2px;
    }

    &::before {
      width: 2px;
      height: 14px;
    }
  }

  &___delete {
    @extend .button___add;

    transform: rotate(45deg);
  }
}
