@import '../../theme/mixins';
@import '../../theme/colors';

.title {
  margin: 40px 0 0;
  @include fontStyle($white, 22px, 400, 1.5, 0.08em);
  text-transform: capitalize;
  text-align: center;

  @media (min-width: 600px) {
    font-size: 28px;
  }

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.isHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
