@import '../../theme/colors';
@import '../../theme/mixins';

.select {
  position: relative;
  margin: 40px 0;

  &ListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Input {
    position: relative;
    z-index: 1;
  }

  &Placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(calc(-50% - 4px));
    @include fontStyle($light-gray, 18px, 300, 1.5, 0.02em);
  }
}
