@import '../../../theme/colors';
@import '../../../theme/mixins';

.navItem {
  padding: 0 10px;
  margin: 0;

  &Link {
    display: block;
    padding: 10px;
    @include fontStyle($white, 14px, 300, 1.5, 0.2em);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: 0.25s;

    &Primary {
      color: $focus;
    }

    &Active {
      color: $primary;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
