@import '../../../theme/colors';
@import '../../../theme/mixins';

.crew {
  padding: 0;
  list-style: none;
  margin: 0;

  &___all {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 960px) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }

    > .crew_item {
      display: block;
      padding: 0 0 5px 0;
      text-transform: uppercase;
      opacity: 0.5;

      @media (min-width: 600px) {
        padding: 0 0 0 10px;

        &:not(:first-child)::before {
          content: '|';
          display: inline-block;
          margin-right: 10px;
          @include fontStyle($white, 9px, 300, 1.5, 0.04em);
          opacity: 0.3;
        }
      }
    }
  }

  &___main {
    display: block;
    margin: 0 0 20px 0;
    list-style: none;

    > .crew_item {
      margin: 0 0 5px 0;
    }
  }
}
