@import '../../../theme/colors';
@import '../../../theme/mixins';

.cast {
  @include listReset;
  display: flex;
  flex-wrap: wrap;
  color: $white;

  &_link,
  &_item {
    @include flex(center, center, column);
  }

  &_link {
    text-decoration: none;
  }

  &_item {
    width: 20%;
    padding: 20px 10px;
  }
}
