.popularView {
  width: 100%;

  &_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
  }

  &_columnsWrapper {
    width: 100%;
  }

  &_columns {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 960px) {
      flex-direction: row;
    }
  }

  &_section {
    flex-shrink: 0;
    width: 100%;

    &:last-child {
      margin-top: 60px;
    }

    @media (min-width: 960px) {
      flex-shrink: 1;
      width: 50%;

      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
        margin-top: 0;
      }
    }
  }
}
