.nowPlayingWrapper {
  padding: 0 20px;
}

.nowPlayingMovies {
  display: flex;
  align-items: flex-start;
}

.nowPlayingSection {
  width: 50%;

  &:first-child {
    margin-right: 40px;
  }

  &:last-child {
    margin-left: 40px;
  }
}

.popularHeadline {
  margin-bottom: 45px;
}

.popularList {
  display: flex;

  > li {
    &:first-child {
      width: 100%;
    }

    &:nth-child(2) {
      width: 100%;
    }

    &:not(:first-child):not(:nth-child(2)) {
      width: calc(50% - 20px);

      &:nth-child(even) {
        margin-left: 10px;
      }

      &:nth-child(odd) {
        margin-right: 10px;
      }
    }
  }
}
