.nowPlayingWrapper {
  padding: 0 20px;
}

.nowPlayingMovies {
  display: flex;
  align-items: flex-start;
}

.nowPlayingSection {
  width: 50%;

  &:first-child {
    margin-right: 20px;
  }

  &:last-child {
    margin-left: 20px;
  }
}
