@import '../../../theme/colors';
@import '../../../theme/mixins';

.movieItem {
  width: 100%;
  padding: 0;
  margin: 0 0 60px;

  &Link {
    text-decoration: none;
    display: block;
  }

  &Details {
    margin-top: 20px;
  }

  &Btns {
    margin: 40px 0 0;

    @media (min-width: 600px) {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}
