.mainTemplate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  min-height: 100vh;
  padding: 20px 30px;
  margin: 0 auto;

  &__wrapper {
    flex-grow: w;
  }

  &_body {
    margin: 40px 0;

    @media (min-width: 768px) {
      margin: 80px 0 20px;
    }
  }
}
