.mainTemplate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  min-height: 100vh;
  padding: 20px 30px;
  margin: 0 auto;

  &_wrapper {
    flex-grow: 1;

    &___footerSpace {
      margin-bottom: 20px;

      @media (min-width: 960px) {
        margin-bottom: 40px;
      }
    }
  }

  &_body {
    margin: 40px 0 0;

    @media (min-width: 768px) {
      margin: 80px 0 20px;
    }
  }
}
