.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px;

  &Inside {
    margin: 40px 0;

    @media (min-width: 768px) {
      margin: 80px 0;
    }
  }

  &___hidden {
    overflow: hidden;
  }
}
