@import '../../theme//colors';

.modal {
  position: fixed;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 90%;
  max-width: 768px;
  max-height: 94vh;
  padding: 30px;
  background: $white;
  overflow-y: scroll;
  animation: load 0.35s ease-in-out forwards;
  transition: all 0.35s;

  @media (min-width: 768px) {
    padding: 80px;
  }

  &Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }
}

@keyframes load {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
