@import '../../theme/colors';
@import '../../theme/mixins';

.headline {
  padding: 0;
  margin: 10px 0 30px;
  @include fontStyle($white, 24px, 500, 1.3, 0.05em);

  &___small {
    font-size: 18px;

    @media (min-width: 960px) {
      font-size: 22px;
    }
  }

  &___dark {
    color: $black;
  }

  &___title {
    margin: 10px 0;
  }
}
