@import '../../../theme/colors';
@import '../../../theme/mixins';

@keyframes itemIn {
  0% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0);
  }
}

.production {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0 0 60px;
  animation: itemIn 0.35s;
  transition: all 0.35s ease-in-out;

  @media (hover: hover) {
    &:hover {
      transform: translateY(-4px);
      .productionButtonContainer {
        transform: scale(1);
      }
    }
  }

  &_link {
    text-decoration: none;
    display: block;
  }

  &_data {
    margin-top: 20px;
  }

  &_details {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 500px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_column {
    display: flex;
    align-items: baseline;

    &___custom {
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: stretch;

      @media (min-width: 500px) {
        align-items: center;
      }
    }

    @media (min-width: 500px) {
      align-items: center;
    }
  }

  &ButtonContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    transition: all 0.15s ease-in-out;

    @media (hover: hover) {
      transform: scale(0);
    }
  }

  &Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 20px;
    padding: 0;
    text-align: center;
    margin: 0;
    border-radius: 50%;
    background: white;
    letter-spacing: 0;
    color: black;

    &Delete {
      @extend .productionButton;

      transform: rotate(45deg);
    }

    &:hover {
      background: none;
      color: white;
    }
  }
}
