@import '../../../theme/colors';
@import '../../../theme/mixins';

.logo {
  width: 86px;

  &___middle {
    padding: 10px 0;
    margin: -10px 0 0 -10px;
    width: 85px;

    @media (min-width: 960px) {
      width: 105px;
      padding: 0;
      margin: 0;
    }

    .logo {
      &_link {
        padding: 10px;
      }
    }
  }

  &_link {
    display: block;
    padding: 5px 10px 5px 0;

    &:focus {
      outline-color: $focus;
    }
  }

  &_img {
    display: block;
    width: 100%;
  }
}
