@import '../../../theme/colors';
@import '../../../theme/mixins';

.production {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0 0 60px;

  &:hover {
    .productionBtn {
      display: block;
    }
  }

  &Link {
    text-decoration: none;
    display: block;
  }

  &TopDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Column {
      display: flex;
      align-items: center;
    }
  }

  &Details {
    margin-top: 20px;
  }

  &Btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    padding: 15px;
  }

  &SingleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 20px;
    padding: 0;
    text-align: center;
    margin: 0;
    border-radius: 50%;
    background: white;
    letter-spacing: 0;
    color: black;

    &:hover {
      background: none;
      color: white;
    }
  }
}
