@import '../../../theme/colors';
@import '../../../theme/mixins';

.selectList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  max-height: 200px;
  padding: 0;
  margin: 0;
  list-style: none;
  background: $mid-white;
  overflow-y: scroll;
  box-shadow: 0px 5px 15px -8px rgba($black, 0.4);

  &___visible {
    display: block;
  }
}
