$white: #fff;
$mid-white: #f9f9f9;
$dark-white: #e6e6e7;
$black: #0e0e14;
$light-black: #1b1b1d;
$dark-graphite: #222224;
$dark-gray: #303033;
$gray: #6b6b6f;
$light-gray: #9c9c9c;
$primary: #7661ff;
$focus: #ff92c5;
