@mixin fontStyle($color, $fs, $fw, $lh, $ls) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin backgroundSettings($color, $repeat, $position, $size) {
  background-color: $color;
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin square($length) {
  width: $length;
  height: $length;
}

@mixin circle($length) {
  @include square($length);

  border-radius: 50%;
}

@mixin blockReset {
  display: block;
  padding: 0;
  margin: 0;
}

@mixin listReset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin flex($align-items, $justify-content, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin sreenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
