@import '../../theme/colors';
@import '../../theme/mixins';

.footerRoute {
  margin: 46px 0 26px;
  display: block;
  text-align: center;

  @media (min-width: 960px) {
    margin: 60px 0 0;
  }

  &_link {
    padding: 0;
    color: $primary;
    text-decoration: none;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: $focus;
    }
  }
}
