@import '../../../theme/colors';
@import '../../../theme/mixins';

.category {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid $white;
  margin-left: 10px;
  @include fontStyle($white, 15px, 300, 1, 0.2em);
  text-transform: uppercase;
  text-align: center;
}
