.actor {
  margin: 40px 0;

  @media (min-width: 960px) {
    display: flex;
    align-items: center;
    margin: 100px 0;
  }

  &_avatar {
    margin-bottom: 20px;

    @media (min-width: 960px) {
      margin: 0;
    }
  }

  &_data {
    @media (min-width: 960px) {
      margin-left: 50px;
    }
  }
}
