@import '../../../theme/colors';
@import '../../../theme/mixins';

.tagline {
  margin: -4px 0 26px;
  @include fontStyle($gray, 16px, 300, 1.4, 0.05em);

  @media (min-width: 960px) {
    font-size: 18px;
  }

  &___light {
    color: $light-gray;
  }
}
