@import '../../theme/colors';
@import '../../theme/mixins';

.bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px;
  background: $primary;
  text-align: center;

  &_message {
    @include fontStyle($white, 16px, 300, 1.6, 0);
  }
}
