@import '../../../theme/colors';
@import '../../../theme/mixins';

.categoriesItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  padding: 30px;
  border: 1px solid $dark-graphite;
  margin: 0;

  &_buttons {
    display: flex;
    justify-content: space-between;
  }

  &_button {
    padding: 4px 14px;
    border: none;
    background: $primary;
    @include fontStyle($white, 16px, 300, 1.6, 0);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.35s ease-in-out;

    &:hover {
      background: $primary-light;
    }
  }

  &_category {
    display: block;
    margin: 20px 0 0;
    @include fontStyle($white, 21px, 400, 1.6, 0);
  }
}
