@import '../../../theme/colors';
@import '../../../theme/mixins';

.categoriesItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 200px;
  padding: 30px;
  border: 1px solid $dark-graphite;
  margin: 0;

  &_buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &_button {
    padding: 2px 14px;
    border: 1px solid $white;
    background: none;
    @include fontStyle($white, 14px, 300, 1.6, 0.2em);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.35s ease-in-out;

    &:hover {
      background: $white;
      color: $black;
    }

    &:focus {
      outline: 0;
    }
  }

  &_category {
    display: block;
    margin: 20px 0 0;
    @include fontStyle($white, 21px, 400, 1.6, 0);
  }
}
